<!doctype html>
<!--
	Itsy by FreeHTML5.co
	Twitter: https://twitter.com/fh5co
	Facebook: https://fb.com/fh5co
	URL: https://freehtml5.co
-->
<html class="home blog no-js" lang="en-US">
<head>
    <title>Casa da Neidy</title>

    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css" media="all"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC%3A400%2C700%7CLato%3A400%2C700%2C400italic%2C700italic&amp;ver=4.9.8"
          type="text/css" media="screen"/>
    <link rel="stylesheet" href="style.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="print.css" type="text/css" media="print"/>
    <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" id="lt-ie9-css" href="ie.css" type="text/css" media="screen"/>
    <![endif]-->
    <script src='js/jquery-3.0.0.min.js'></script>
    <script src='js/jquery-migrate-3.0.1.min.js'></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="home sticky-menu sidebar-off" id="top">

<header class="header">

    <div class="header-wrap">

        <div class="logo plain logo-left">
            <div class="site-title">
                <a href="index.html" title="Pagina Inicial">
                    <div class="logo plain logo-left">
            <div class="site-title">
                <a href="index.html" title="Pagina Inicial">
                <a href="#page-top" class="s123-site-logo navbar-brand s123-w-l-s page-scroll p-m-b-highlight s123-resize-observer" id="OutlineHandler-tmp-638963a07d6e8"><img alt="Casa da Neidy" class="img-responsive" src="https://static1.s123-cdn-static-a.com/uploads/7157503/400_638962f19061c.png"><span class="website-name website-name-preview-helper "><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></span></a></a>
            </div>
        </div>
                </a>
            </div>
        </div><!-- /logo -->


               <nav id="nav" role="navigation">
            <div class="table">
                <div class="table-cell">
                    <ul id="menu-menu-1">
                        <li class="menu-item">
                            <a href="{% url 'home' %}">Home</a></li>
                        <li class="menu-item">
                            <a href="{% url 'admin:index' %}">Administrador</a></li>    
                        <li class="menu-item">
                            <a href="{% url 'blog_home' %}">BLOG</a></li>
                        <li class="menu-item">
                            <a href="#">Usuario</a>
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="{% url 'usuarios:editar_perfil' %}">Criar Perfil</a></li>
                                <li class="menu-item">
                                    <a href="{% url 'usuarios:perfil_usuario' %}">Ver Perfil</a></li>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="">Cadastro Usuario</a>
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="{% url 'person:home_map' %}">Dados do Cliente</a></li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="{% url 'listar' %}">Produtos | Estoque</a></li>
                        <li class="menu-item">
                            <a href="contact.html">Contatos</a></li>
                        <li class="menu-inline menu-item">
                            <a title="Instagram" href="https://www.instagram.com/neidyaguiiar/">
                                <i class="fa fa-instagram"></i><span class="i">Instagram</span>
                            </a>
                        </li>
                        <li class="menu-inline menu-item">
                            <a title="Whatsapp" href="https://wa.me/5521974713339">
                                <i class="fa fa-whatsapp" aria-hidden="true"></i><span class="i">Compre pelo Whatsapp</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <a href="#nav" class="menu-trigger"><i class="fa fa-bars"></i></a>

        <a href="#topsearch" class="search-trigger"><i class="fa fa-search"></i></a>

    </div>

</header>


<div class="wrap full-wrap">
    <div class="main-wrap">
        <section class="main">


            <article class="post has-post-thumbnail">

  		        <span class="post-image">
                    <img width="916" height="611" src="images/agenda.jpg" alt="">
  		        </span>


                <div class="inner">

                    <h1 class="entry-title">Agenda</h1>
                    <ul class="meta top">
                        <li class="time">
                            <time class="post-date updated" datetime="2022-12-05">Dezembro, 5 2022 </time>
                        </li>

                        <li class="comments">
                            <a href="single.html#respond">0 Comments</a>
                        </li>

                        <li class="author-m">
                            By <span class="vcard author"><span class="fn"><a href="{% url 'blog_home' %}" title="Postagens no Blog" rel="author">Neidy Helena</a></span></span>
                        </li>

                    </ul>
                    <div class="post-content">
                        <h5><p><br>Funcionamento em Niteroi Segunda-Feira, Terça-Feira, Quinta-Feira, Sexta-Feira, Sabado e Domingo</p></h5>
                        <h8><br>Funcionamento Niteroi - 10Hrs as 21hrs<h8>
                        <h5><p><br>Funcionamento em Cabo Frio Quarta-Feira</p></h5>
                        <h8><p><br>Funcionamento Cabo Frio - 10Hrs as 21hrs</p><h8>
                        <blockquote><p>“Os pedidos podem ser realziados presencialmente(Casa 26), Telefone (Whatsapp), Site ”<cite>Só não deixe de Pedir</cite></p></blockquote>
               
                    </div>


                    <ul class="meta bottom">
                        <li class="cat">Desde já agradeço !</a></li>
                    </ul>

                </div>
            </article>

            <nav class="pagination">
                <ul>
                    <li class="older-posts">
                        <span><a href="#" rel="prev"><i class="fa fa-chevron-left"></i> <span class="i">Prev</span></a></span>
                    </li>
                    <li class="share-link">
                        <a href="#share"><i class="fa fa-share-alt"></i><span class="i">Share</span></a>
                    </li>
                    <li class="newer-posts">
                        <span class="inactive"><span class="i">Next</span> <i class="fa fa-chevron-right"></i></span>
                    </li>

                </ul>
            </nav>





            <aside class="author-wrap">
                <span class="author-avatar"><img alt="" src="images/neidy.jpg" class="avatar avatar-200 photo" height="200" width="200"></span>
                <div class="author-bio">
                    <h4><a href="blog.html">Neidy Helena</a></h4>
                                    <div class="mt-about-bio">
                    <p>Meu nome é Neidy e tenho prazer em cozinhar, faço-o como meu trabalho, dedico meu tempo com todo amor e cuidado para proporcionar a melhor experiência aos meus queridos clientes.</p>
                    <br>Adoro fazer novos amigos e cozinhar para eles, sempre me certifico de que minha comida esteja deliciosa e que meus clientes saiam felizes. 
                        <br>Sempre tento novas receitas e experimentos para melhorar minhas habilidades, e estou sempre feliz em compartilhar meu conhecimento e experiência com meus convidados. 
                        <br>Tenho orgulho do meu trabalho e estou comprometido em fornecer o melhor serviço possível aos meus clientes.</p>
                </div>
                    <div class="author-socials-wrap">

                        <a class="author-socials" href="http://twitter.com/fh5co" target="_blank"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                        <a class="author-socials" href="http://facebook.com/fh5co" target="_blank"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                        <a class="author-socials" href="#" target="_blank"><i class="fa fa-instagram"></i><span>Instagram</span></a>
                        <a class="author-socials" href="#" target="_blank"><i class="fa fa-pinterest"></i><span>Pinterest</span></a>
                        <a class="author-socials" href="#" target="_blank"><i class="fa fa-flickr"></i><span>Flickr</span></a>
                        <a class="author-socials" href="https://freehtml5.co" target="_blank"><i class="fa fa-link"></i><span>Website</span></a>

                    </div>
                </div>

            </aside>




       

                </div></div>



            <div class="comments-wrapper">

                <div id="comments" class="inner">

                    <div class="comments-inner"><h3 id="respond-title">Comentarios (0)</h3></div>

                    <aside class="comments">
                    </aside>

                    <div id="respond" class="comment-respond">
                        <h3 id="reply-title" class="comment-reply-title">Deixe seu comentario em caso de duvida sobre horarios e entregas <small><a rel="nofollow" id="cancel-comment-reply-link" href="#respond" style="display:none;"></a></small></h3>
                        <form>
                            <p>Endereço de email <span class="required">*</span></p>
                            <p><label for="comment">Comment</label><textarea id="comment" name="comment" cols="45" rows="8" aria-required="true" placeholder="Comment"></textarea></p><p class="comment-form-author"><label class="hidden" for="author">Name</label> <span class="required hidden">*</span><input id="author" name="author" type="text" value="" size="30" aria-required="true" placeholder="Name"></p>
                            <p><label for="email">Email</label> <span class="required ">*</span><input id="email" name="email" type="text" value="" size="30" aria-required="true" placeholder="Email"></p>
                            <p><label for="url">Website</label><input id="url" name="url" type="text" value="" size="30" placeholder="Website"></p>
                            <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Post Comment"></p>
                        </form>
                    </div><!-- #respond -->

                </div>

            </div>


        </section>


    </div><!-- /main-wrap -->


</div><!-- /wrap -->


<div class="footer-widgets widget-count-5">

    <div class="wrap">

        <div class="mt-about-you-widget">
            <div class="widget footer">

                <img class="mt-about-avatar" src="images/contato.jpg" alt="Neidy Helena"/>


                <h4>neidy Helena</h4>

                <div class="mt-about-bio">
                    <p><h5>Telefone: 021 - 97471-3339</p></h5>
                    <br><h6>Email - nhelenaaguiar@gmail.com</h6>
                        </p>
                </div>


            </div>
        </div>
        
        <div class="widget footer"><h4>Gallery</h4>
            <div class="textwidget">
                <img src="images/colagem.jpg" alt="">
            </div>
        </div>
    </div>

</div>


<footer class="footer">
    <div class="footer-wrap">
        <div id="footer-text">&copy; 2022 Thiago A.Fideles.
            Designed by <a href="" target="_blank">Desenvolvedor.</a>.</div>

        <a href="#top" id="btt">Top <i class="fa fa-chevron-up"></i></a>
    </div>
</footer>

<div class="share-overlay">

    <div class="share-inner">

        <span class="share-label">Share: </span>

        <ul class="meta sharer" id="share">
            <li class="share-on">
                <a target="blank" title="The+Lollipop"
                   href="https://twitter.com/share?text=The+Lollipop%20-%20&amp;url=https://freehtml5.co&amp;via=fh5co"
                   onclick="window.open('https://twitter.com/share?text=The+Lollipop%20-%20&amp;url=https://freehtml5.co','twitter','width=450,height=300,left='+(screen.availWidth/2-375)+',top='+(screen.availHeight/2-150)+'');return false;"
                   class="twitter">
                    <i class="fa fa-twitter"></i><span>Twitter</span>
                </a>
            </li>
            <li class="share-on">
                <a href="http://pinterest.com/pin/create/button/?url=https://freehtml5.co&amp;description=FreeHTML5"
                   target="_blank" class=" pinterest offblack">
                    <i class="fa fa-pinterest"></i><span>Pinterest</span>
                </a>
            </li>
            <li class="share-on">
                <a target="blank" title="The+Lollipop"
                   href="http://www.facebook.com/share.php?u=https://freehtml5.co"
                   onclick="window.open('http://www.facebook.com/share.php?u=https://freehtml5.co','facebook','width=450,height=300,left='+(screen.availWidth/2-375)+',top='+(screen.availHeight/2-150)+'');return false;"
                   class=" facebook ">
                    <i class="fa fa-facebook"></i><span>Facebook</span>
                </a>
            </li>

            <li class="share-on">
                <a onclick="window.open('https://plus.google.com/share?url=https://freehtml5.co','gplusshare','width=450,height=300,left='+(screen.availWidth/2-375)+',top='+(screen.availHeight/2-150)+'');return false;"
                   href="https://plus.google.com/share?urlhttps://freehtml5.co"
                   class=" googleplus offblack">
                    <i class="fa fa-google-plus"></i><span>Google+</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="topsearch">
    <div class="table">
        <div class="table-cell">
            <form role="search" method="get" class="searchform" action="index.html">
                <div>
                    <input type="text" value="" name="s" class="s" placeholder="Type and hit enter"/>
                    <input type="submit" class="searchsubmit" value="Search"/>
                </div>
            </form>
        </div>
    </div>
    <a href="#topsearch" class="search-trigger"><i class="fa fa-times"></i></a>
</div>


<script>var ie9 = false;</script>
<!--[if lte IE 9 ]>
<script> var ie9 = true; </script>
<![endif]-->
<script src="js/global-plugins.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
